@import "./depend/reset.css";
@import "./common.css";
#aboutUs {
    min-height: 100vh; // margin-bottom: -200px;
    padding-top: 78px;
    background-color: #ffedea;
    .main-show {
        .head-bg {
            height: 500px;
            position: relative;
        }
        .bg-show {
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}